name: cd

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  REGION: ${{ secrets.GCP_REGION }}
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  SERVICE: hello-devops
  AR_IMAGE: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/hello-devops/hello-devops

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

      - name: Build and push image (Artifact Registry)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.AR_IMAGE }}:${{ github.sha }}
            ${{ env.AR_IMAGE }}:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --project $PROJECT_ID \
            --region $REGION \
            --image $AR_IMAGE:${{ github.sha }} \
            --platform managed \
            --allow-unauthenticated \
            --set-env-vars REQUIRED_TOKEN=1 \
            --min-instances 0 \
            --max-instances 1 \
            --memory 256Mi \
            --cpu 1
