name: ci

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with: 
        python-version: "3.13"

    - name: Syntax check
      run: python -m py_compile app.py

    - name: Docker build
      run: docker build -t hello-devops:ci .
